.login-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-image: url(./components/fondo.svg);
  background-size: contain;
}

/* header nav */
.header-login {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 2em;
}
.logo-img {
  height: 50px;
  filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg)
    brightness(118%) contrast(119%);
  border: none;
}
.logo-login {
  width: 50%;
}
.menu-header {
  width: 50%;
}
.menu-header ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.menu-header ul li {
  list-style: none;
  align-items: center;

}
.menu-header ul li a {
  text-decoration: none;
  color: #fff;
  padding: 10px 20px 10px 20px;
  background-color: rgb(0, 143, 29);
  border-radius: 20px;
  font-weight: 600;
}
.menu-header ul li a:hover {
  text-decoration: none;
  color: rgb(22, 142, 26);
  padding: 10px 20px 10px 20px;
  background-color: rgb(0, 77, 135);
  border-radius: 20px;
}

/* contenido */
.container {
  display: flex;
}

.izq {
  width: 50%;
  padding: 2rem;
}
.izq img {
  height: 75vh;
  border-radius: 25px;
}
.der {
  width: 50%;
  padding: 3rem;
  color: #fafafa;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.der input {
  border-radius: 25px;
  padding: 1em;
  margin: 10px 0 10px 0;
  width: 400px;
}
.der button {
  border-radius: 25px;
  margin: 5px 0 5px 0;
  padding: 10px 20px 10px 20px;
  background-color: rgb(2, 127, 39);
  color: #fff;
  font-weight: 600;
  border: none;
  width: 200px;
}
.der button:hover {
  background-color: rgb(2, 37, 127);
}
.recover {
  margin: 5px 0 5px 0;
  color: #fafafa;
  font-weight: 500;
}
.pre-register {
  margin: 5px 0 5px 0;
}
.register {
  color: rgb(0, 255, 76);
}
.register:hover {
  color: rgb(255, 255, 255);
}
