#root {
    max-width: 1376px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
/* Pokemon */
.img-pokemon {
    min-height: 250px;
    max-height: 250px;
    object-fit: contain !important;
    margin-top: 25px;
  }
  
  .card-pokemon {
    max-width: 300px;
    min-height: 400px;
    max-height: 400px;
  }
