.container{
  text-align: center;
  width: 100%;
}

.grid {
  margin: 20px auto;
}
.grid input {
  background-color: rgba(12, 71, 210, 0.702);
  color: #fafafa;
  width: 25%;
  height: 2.5rem;
  margin: 0 auto;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  border-radius: 25px;
}
.letra {
  margin: 20px auto;
}
.btn {
  background-color: purple;
  border-radius: 20px;
  font-weight: 500;
  padding: 15px 25px 15px 25px;
  color: #fff;
  font-weight: 600;
}
.article img {
  height: 300px;
  border-radius: 50%;
}
.userBio{
  color: rgb(30, 210, 108);
  font-weight: 600;
}
.card {
  padding: 2em;
}
