#root {
  max-width: 1376px;
  margin: 0;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* default home-APP.jsx */
.App-container {
  padding-top: 75px;
}
.App {
  width: 720px;
  border: 2.5px solid rgb(0, 68, 255);
  border-radius: 0 25px 0 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 50px 0 50px 0;
  background-color: rgb(7, 44, 68);
  color: #fff;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  border: none;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #117000aa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #00c8ffaa);
}
.card {
  padding: 2em;
  border: #fafafa solid 2px;
  border-radius: 20px 0 20px 0;
  margin: 1em;
}
.btn-counter{
  padding: 10px 20px 10px 20px;
  margin: 1.5em;
  color: #fff;
  background-color: rgb(56, 56, 255);
  border-radius: 15px;
}

.read-the-docs {
  color: rgb(255, 121, 121);
  margin: 1.5em;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/* GIT */
.letra {
  background-color: red;
}
.btn {
  color: "#000";
}
/* Header */
.verde {
  background-color: green;
}

.azul {
  background-color: blue;
}

/* Pokemon */
.img-pokemon {
  min-height: 250px;
  max-height: 250px;
  object-fit: contain !important;
  margin-top: 25px;
}

.card-pokemon {
  max-width: 300px;
  min-height: 400px;
  max-height: 400px;
}
